.heading {
  text-align: center;
  margin-top: 17%;
}
.adminForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 35vw;
  margin: 0 auto;
  background-color: #eee6ce;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
.fields {
  border: 1px solid red;
  width: 100%;
  margin: 10px;
}
.submitBtn {
  width: 200px;
  align-self: center;
}
